<?xml version="1.0"?>

<launch>

    <!-- robot localization -->

    <!-- 1. sim localizaiton -->
    <!-- <node pkg="robot_simulation" type="localization_sim" name="localization_sim_node" output="screen">
        <param name="laserCloudTopic"           value="/velodyne_points"/>
        <param name="robotName"                 value="scout"/>
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="mappingPublisher"  args="0 0 0 0 0 0 map odom"/> -->

    <!-- 2. cartographer -->
    <!-- <include file="$(find robot_simulation)/launch/localization/cartographer.launch">
    </include> -->

    <!-- 3. rtabmap -->
    <include file="$(find robot_simulation)/launch/localization/rtabmap.launch">
    </include>

    <!-- This is to just to visualize the localization trajectory -->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
        <param name="target_frame_name" type="string" value="map" />
        <param name="source_frame_name" type="string" value="base_link" />
        <param name="trajectory_update_rate" type="double" value="5.0" />
        <param name="trajectory_publish_rate" type="double" value="5.0" />
    </node>
    
</launch>