<?xml version="1.0"?>
<launch>



  <include file="$(find robot_simulation)/launch/planning3d.launch">
    <arg name="sensorOffsetX"   value="0" />
    <arg name="sensorOffsetY"   value="0" />
    <arg name="vehicleLength"   value="0.64" />
    <arg name="vehicleWidth"    value="0.64" />
    <arg name="maxSpeed"        value="1" />
    <arg name="maxAccel"        value="1.5" />
  </include>

</launch>
